h1 {
  font-family: helvetica;
  font-size: 40;
  font-weight: bold;
  color: maroon;
  text-align: center;
}

p {
  position: relative; top 20px; left 60px;
  font-family: helvetica;
  font-size: 12;
  color: black;
}

#clickMe {
  margin-top: 20px;
  position: absolute; left: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: thick;
  border-color: red;
  background-color: grey;
  text-align: center;
  color: maroon;
  font-weight: bold;
}

p.clickMe{
  color: maroon;
}


.demo-module {
  margin-top:50px;
  padding: 30px;
  text-transform: uppercase;
  text-align: center;
  text-decoration-color: maroon;
  color: maroon;
}

.answers {
  display: block;
  padding: 10px;
  border: medium double #808000;
  background-color: orange;
  color: maroon;
}
