h1{
  font-family: helvetica;
  font-size: 40;
  font-weight: bold;
  color: red;
  text-align: center;
}

p{
  position: relative; top 20px; left 60px;
  font-family: helvetica;
  font-size: 12;
  color: black;
}

#clickMe{
  position: relative;
  padding: 10px;
  border: thick;
  border-color: red;
  background-color: grey;
  text-align: center;
  color: red;
  font-weight: bold;
}


.demo-module{
  padding: 30px;
  font-size: 18;
  text-align: right;
  color: red;
}

.answers{
  padding: 10px;
  border: medium double #808000;
  background-color: orange;
  color: maroon;
}
